 HEIGHT / WIDTH UTILS 
.min-100-vh {
    min-height: 100vh;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }  
  .card {
    padding-left: 5%;
  }
  .card-title {
    font-size: 2rem;
    font-style: italic;
    text-align:justify
  
  }

  .card-text {
    font-size: 1.5rem;
    margin: 5%;
  }

  .current-card {
    font-weight: bold;
    font-size: 2rem;
  }